html {
	border: none;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	border: none;
	margin: 0;
	padding: 0;
	background: $naza-beige;
	box-sizing: border-box;
	color: #000;
	font-family: "Lato", Helvetica, sans-serif;
	font-size: 1.8rem;
	letter-spacing: -0.015em;
	text-align: left;
	&:not(.enable-search-modal) {
		.header-titles-wrapper {
			justify-content: flex-start;
			padding-left: 0;
			text-align: left;
		}
		.site-logo {
			img {
				margin: 0;
			}
		}
	}
	&:not(.singular) {
		main {
			>article {
				&:first-of-type {
					padding: 4rem 0 0;
				}
			}
		}
	}
}
blockquote {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
	border-color: $naza-brown;
	border-style: solid;
	border-width: 0 0 0 0.2rem;
	color: inherit;
	font-size: 1em;
	margin: 4rem 0;
	padding: 0.5rem 0 0.5rem 2rem;
	&::before {
		content: "";
	}
	&::after {
		content: "";
	}
	cite {
		display: block;
		margin: 2rem 0 0 0;
	}
	p {
		&:last-child {
			margin: 0;
		}
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		-webkit-clip-path: none;
		clip-path: none;
		color: #21759b;
		display: block;
		font-size: 0.875rem;
		font-weight: 700;
		height: auto;
		right: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
	}
}

#site-content {
	overflow: hidden;
}
.group {
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}
.entry-content {
	&::after {
		clear: both;
		content: "";
		display: block;
	}
	hr {
		background: linear-gradient(to left, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
		background-color: transparent !important;
		border: none;
		height: 0.1rem;
		overflow: visible;
		position: relative;
		margin: 4rem auto;
		&:not(.has-background) {
			color: #6d6d6d;
		}
		&::before {
			background: currentColor;
			content: "";
			display: block;
			height: 1.6rem;
			position: absolute;
			top: calc(50% - 0.8rem);
			transform: rotate(22.5deg);
			width: 0.1rem;
			left: calc(50% - 0.5rem);
		}
		&::after {
			background: currentColor;
			content: "";
			display: block;
			height: 1.6rem;
			position: absolute;
			top: calc(50% - 0.8rem);
			transform: rotate(22.5deg);
			width: 0.1rem;
			right: calc(50% - 0.5rem);
		}
	}
	.wp-block-archives {
		font-family: $body-font;
		>li {
			margin-left: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		* {
			font-family: inherit;
		}
		li {
			color: #6d6d6d;
		}
	}
	.wp-block-categories {
		font-family: $body-font;
		>li {
			margin-left: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		* {
			font-family: inherit;
		}
		li {
			color: #6d6d6d;
		}
	}
	.wp-block-cover-image {
		font-family: $body-font;
	}
	.wp-block-latest-comments {
		font-family: $body-font;
		* {
			font-family: inherit;
		}
		li {
			margin: 2rem 0;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			&:focus {
				text-decoration: underline;
			}
		}
	}
	.wp-block-latest-posts {
		font-family: $body-font;
		>li {
			margin-left: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		* {
			font-family: inherit;
		}
		li {
			color: #6d6d6d;
		}
	}
	.wp-block-pullquote {
		font-family: $body-font;
	}
	.wp-block-quote.is-large {
		font-family: $body-font;
	}
	.wp-block-quote.is-style-large {
		font-family: $body-font;
	}
	.has-normal-font-size {
		font-size: 1em;
	}
	.has-regular-font-size {
		font-size: 1em;
	}
	.has-medium-font-size {
		font-size: 1.1em;
		line-height: 1.45;
	}
	.has-large-font-size {
		font-size: 1.25em;
		line-height: 1.4;
	}
	.has-larger-font-size {
		font-size: 1.5em;
		line-height: 1.3;
	}
	.wp-block-latest-comment {
		>li {
			margin-left: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.wp-block-group {
		p {
			max-width: 100%;
		}
	}
	line-height: 1.5;
	font-family: $body-font;
	letter-spacing: normal;
	>* {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.25em;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	p {
		line-height: 1.4;
	}
	li {
		line-height: 1.4;
		img {
			display: inline-block;
		}
	}
	ul {
		ul {
			margin-bottom: 1rem;
		}
		ol {
			margin-bottom: 1rem;
		}
	}
	ol {
		ol {
			margin-bottom: 1rem;
		}
		ul {
			margin-bottom: 1rem;
		}
	}
	cite {
		font-family: $body-font;
	}
	figcaption {
		font-family: $body-font;
	}
	table {
		font-family: $body-font;
	}
	address {
		font-family: $body-font;
	}
	.wp-caption-text {
		font-family: $body-font;
	}
	.wp-block-file {
		font-family: $body-font;
	}
}
a {
	transition: all 0.15s linear;
	color: $naza-brown;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}
path {
	transition: all 0.15s linear;
}

main {
	display: block;
}
.faux-heading {
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: 700;
	letter-spacing: -0.0415625em;
	line-height: 1.25;
	margin: 3.5rem 0 2rem;
}
.heading-size-1 {
	font-size: 3.6rem;
	font-weight: 800;
	line-height: 1.138888889;
}
.heading-size-2 {
	font-size: 3.2rem;
}
.heading-size-3 {
	font-size: 2.8rem;
}
.heading-size-4 {
	font-size: 2.4rem;
}
.heading-size-5 {
	font-size: 2.1rem;
}
.heading-size-6 {
	font-size: 1rem;
	letter-spacing: 0.03125em;
	text-transform: uppercase;
}
i {
	font-style: italic;
	em {
		font-weight: bolder;
	}
	i {
		font-weight: bolder;
	}
}
q {
	font-style: italic;
}
dfn {
	font-style: italic;
}
b {
	font-weight: 700;
}
strong {
	font-weight: 700;
}
ins {
	text-decoration: underline;
}
abbr {
	cursor: help;
}
acronym {
	cursor: help;
}
hr {
	border-style: solid;
	border-width: 0.1rem 0 0 0;
	border-color: #dcd7ca;
	margin: 4rem 0;
}
hr.styled-separator {
	background: linear-gradient(to left, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
	background-color: transparent !important;
	border: none;
	height: 0.1rem;
	overflow: visible;
	position: relative;
	color: #6d6d6d;
	&::before {
		background: currentColor;
		content: "";
		display: block;
		height: 1.6rem;
		position: absolute;
		top: calc(50% - 0.8rem);
		transform: rotate(22.5deg);
		width: 0.1rem;
		left: calc(50% - 0.5rem);
	}
	&::after {
		background: currentColor;
		content: "";
		display: block;
		height: 1.6rem;
		position: absolute;
		top: calc(50% - 0.8rem);
		transform: rotate(22.5deg);
		width: 0.1rem;
		right: calc(50% - 0.5rem);
	}
}
.reset-list-style {
	list-style: none;
	margin: 0;
	ul {
		list-style: none;
		margin: 0;
	}
	ol {
		list-style: none;
		margin: 0;
	}
	li {
		margin: 0;
	}
}
dt {
	line-height: 1.5;
	font-weight: 700;
	+ {
		dd {
			margin-top: 0.5rem;
		}
	}
}
dd {
	line-height: 1.5;
	+ {
		dt {
			margin-top: 1.5rem;
		}
	}
}
kbd {
	font-family: monospace;
	font-size: 0.9em;
	padding: 0.4rem 0.6rem;
	background: rgba(0, 0, 0, 0.075);
	border-radius: 0.2rem;
}
pre {
	font-family: monospace;
	font-size: 0.9em;
	padding: 0.4rem 0.6rem;
	border: 0.1rem solid #dcd7ca;
	line-height: 1.5;
	margin: 4rem 0;
	overflow: auto;
	padding: 3rem 2rem;
	text-align: left;
	code {
		background: transparent;
		padding: 0;
	}
}
samp {
	font-family: monospace;
	font-size: 0.9em;
	padding: 0.4rem 0.6rem;
	background: rgba(0, 0, 0, 0.075);
	border-radius: 0.2rem;
}
figure {
	display: block;
	margin: 0;
}
iframe {
	display: block;
	max-width: 100%;
}
video {
	display: block;
}
svg {
	display: block;
	height: auto;
	max-width: 100%;
}
embed {
	display: block;
	height: auto;
	max-width: 100%;
}
object {
	display: block;
	height: auto;
	max-width: 100%;
}
figcaption {
	color: #6d6d6d;
	display: block;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 1.5rem;
	a {
		color: inherit;
	}
}
.wp-caption-text {
	color: #6d6d6d;
	display: block;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 1.5rem;
	a {
		color: inherit;
	}
}
blockquote.instagram-media {
	margin: auto !important;
}
iframe.instagram-media {
	margin: auto !important;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 3em 0 3em -0.8em;
	width: calc(100% + 1.6em);
}
.gallery-item {
	margin: 0.8em 0;
	padding: 0 0.8em;
	width: 100%;
}
.gallery-caption {
	display: block;
	margin-top: 0.8em;
}
label.inline {
	display: inline;
	font-weight: 400;
	margin-left: 0.5rem;
}
input[type="checkbox"] {
	+ {
		label {
			display: inline;
			font-weight: 400;
			margin-left: 0.5rem;
		}
	}
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	top: 2px;
	display: inline-block;
	margin: 0;
	width: 1.5rem;
	min-width: 1.5rem;
	height: 1.5rem;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #dcd7ca;
	box-shadow: none;
	cursor: pointer;
	&:checked {
		&::before {
			content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%23000000%27%2F%3E%3C%2Fsvg%3E");
			position: absolute;
			display: inline-block;
			margin: -0.1875rem 0 0 -0.25rem;
			height: 1.75rem;
			width: 1.75rem;
		}
	}
}
input {
	font-family: $body-font;
	line-height: 1;
	&::-webkit-input-placeholder {
		line-height: normal;
	}
	&:-ms-input-placeholder {
		line-height: normal;
	}
	&::-moz-placeholder {
		line-height: revert;
	}
}
textarea {
	font-family: $body-font;
	line-height: 1;
	border-color: #dcd7ca;
	color: #000;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	height: 12rem;
	line-height: 1.5;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
.button {
	font-family: $body-font;
	line-height: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: $naza-brown;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.0333em;
	line-height: 1.25;
	margin: 0;
	opacity: 1;
	padding: 1.1em 1.44em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.15s linear;
	&:focus {
		text-decoration: underline;
	}
	&:hover {
		text-decoration: underline;
	}
}
.faux-button {
	font-family: $body-font;
	line-height: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: $naza-brown;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.0333em;
	line-height: 1.25;
	margin: 0;
	opacity: 1;
	padding: 1.1em 1.44em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.15s linear;
	&:focus {
		text-decoration: underline;
	}
	&:hover {
		text-decoration: underline;
	}
}
.wp-block-button__link {
	font-family: $body-font;
	line-height: 1;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: $naza-brown;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.0333em;
	line-height: 1.25;
	margin: 0;
	opacity: 1;
	padding: 1.1em 1.44em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.15s linear;
}
.wp-block-file__button {
	font-family: $body-font;
	line-height: 1;
}
input[type="url"] {
	direction: ltr;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="email"] {
	direction: ltr;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="tel"] {
	direction: ltr;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="text"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="date"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="month"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="time"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="datetime"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="datetime-local"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="week"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&::-webkit-search-decoration {
		display: none;
	}
	&::-webkit-search-cancel-button {
		display: none;
	}
	&::-webkit-search-results-button {
		display: none;
	}
	&::-webkit-search-results-decoration {
		display: none;
	}
	&:focus {
		outline: thin dotted;
		outline-offset: -4px;
	}
}
input[type="color"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #fff;
	border-radius: 0;
	border-style: solid;
	border-width: 0.1rem;
	box-shadow: none;
	display: block;
	font-size: 1rem;
	letter-spacing: -0.015em;
	margin: 0;
	max-width: 100%;
	padding: 1.5rem 1.8rem;
	width: 100%;
	&:focus {
		border-color: currentColor;
	}
}
select {
	font-size: 1em;
}
.wp-block-file {
	.wp-block-file__button {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: $naza-brown;
		border: none;
		border-radius: 0;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 600;
		letter-spacing: 0.0333em;
		line-height: 1.25;
		margin: 0;
		opacity: 1;
		padding: 1.1em 1.44em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: opacity 0.15s linear;
		font-size: 1.5rem;
		padding: 1em 1.25em;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	a {
		&:not(.wp-block-file__button) {
			font-weight: 700;
			text-decoration: none;
			&:not(:last-child) {
				margin-right: 1rem;
			}
			&:focus {
				text-decoration: underline;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	a.wp-block-file__button {
		&:visited {
			opacity: 1;
		}
		&:active {
			opacity: 1;
			text-decoration: underline;
		}
		&:focus {
			opacity: 1;
			text-decoration: underline;
		}
		&:hover {
			opacity: 1;
			text-decoration: underline;
		}
	}
}
input[type="button"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: $naza-brown;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.0333em;
	line-height: 1.25;
	margin: 0;
	opacity: 1;
	padding: 1.1em 1.44em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.15s linear;
	&:focus {
		text-decoration: underline;
	}
	&:hover {
		text-decoration: underline;
	}
}
input[type="reset"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: $naza-brown;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.0333em;
	line-height: 1.25;
	margin: 0;
	opacity: 1;
	padding: 1.1em 1.44em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.15s linear;
	&:focus {
		text-decoration: underline;
	}
	&:hover {
		text-decoration: underline;
	}
}
input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: $naza-brown;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.0333em;
	line-height: 1.25;
	margin: 0;
	opacity: 1;
	padding: 1.1em 1.44em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: opacity 0.15s linear;
	&:focus {
		text-decoration: underline;
	}
	&:hover {
		text-decoration: underline;
	}
}
.wp-block-button {
	.wp-block-button__link {
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	margin: 3rem 0;
}
input[type="range"] {
	&:focus {
		border-color: currentColor;
	}
}
.alignleft {
	>table {
		margin: 0;
	}
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	max-width: 50%;
	float: left;
	margin: 0.3rem 2rem 2rem 2rem;
}
.alignright {
	>table {
		margin: 0;
	}
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	max-width: 50%;
	float: right;
	margin: 0.3rem 2rem 2rem 2rem;
}
thead {
	vertical-align: bottom;
	white-space: nowrap;
}
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
.screen-height {
	min-height: 100vh;
}
.admin-bar {
	.screen-height {
		min-height: calc(100vh - 32px);
	}
	.menu-modal {
		top: 32px;
	}
	.search-modal.active {
		top: 32px;
	}
}
.screen-width {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;
}
.section-inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 120rem;
	width: calc(100% - 4rem);
}
.section-inner.max-percentage {
	width: 100%;
}
.section-inner.thin {
	max-width: 58rem;
}
.section-inner.small {
	max-width: 80rem;
}
.section-inner.medium {
	max-width: 100rem;
}
.section-inner.no-margin {
	margin: 0;
}
.toggle {
	-moz-appearance: none;
	-webkit-appearance: none;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	text-align: inherit;
	user-select: none;
}
button.toggle {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	font-size: inherit;
	font-weight: 400;
	letter-spacing: inherit;
	padding: 0;
	text-transform: none;
}
.js {
	.show-js {
		display: block !important;
	}
	.hide-js {
		display: none !important;
	}
}
.no-js {
	.show-no-js {
		display: block !important;
	}
	.hide-no-js {
		display: none !important;
	}
}
.font-size-xl {
	font-size: 1.25em;
}
.font-size-xs {
	font-size: 0.8em;
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.color-accent {
	color: $naza-brown;
}
.color-accent-hover {
	&:focus {
		color: $naza-brown;
	}
	&:hover {
		color: $naza-brown;
	}
}
.bg-accent {
	background-color: $naza-brown;
}
.bg-accent-hover {
	&:focus {
		background-color: $naza-brown;
	}
	&:hover {
		background-color: $naza-brown;
	}
}
.border-color-accent {
	border-color: $naza-brown;
}
.border-color-accent-hover {
	&:focus {
		border-color: $naza-brown;
	}
	&:hover {
		border-color: $naza-brown;
	}
}
.fill-children-accent {
	fill: $naza-brown;
	* {
		fill: $naza-brown;
	}
}
.fill-children-current-color {
	fill: currentColor;
	* {
		fill: currentColor;
	}
}
.opacity-0 {
	opacity: 0;
}
.opacity-5 {
	opacity: 0.05;
}
.opacity-10 {
	opacity: 0.1;
}
.opacity-15 {
	opacity: 0.15;
}
.opacity-20 {
	opacity: 0.2;
}
.opacity-25 {
	opacity: 0.25;
}
.opacity-30 {
	opacity: 0.3;
}
.opacity-35 {
	opacity: 0.35;
}
.opacity-40 {
	opacity: 0.4;
}
.opacity-45 {
	opacity: 0.45;
}
.opacity-50 {
	opacity: 0.5;
}
.opacity-55 {
	opacity: 0.55;
}
.opacity-60 {
	opacity: 0.6;
}
.opacity-65 {
	opacity: 0.65;
}
.opacity-70 {
	opacity: 0.7;
}
.opacity-75 {
	opacity: 0.75;
}
.opacity-80 {
	opacity: 0.8;
}
.opacity-85 {
	opacity: 0.85;
}
.opacity-90 {
	opacity: 0.9;
}
.blend-mode-exclusion {
	mix-blend-mode: exclusion;
}
.blend-mode-hue {
	mix-blend-mode: hue;
}
.blend-mode-saturation {
	mix-blend-mode: saturation;
}
.blend-mode-color {
	mix-blend-mode: color;
}
.blend-mode-luminosity {
	mix-blend-mode: luminosity;
}
.bg-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-attachment-fixed {
	background-attachment: fixed;
}
.wp-block-image.is-resized {
	margin-left: auto;
	margin-right: auto;
}


.search-form {
	align-items: stretch;
	display: flex;
	flex-wrap: nowrap;
	margin: 0 0 -0.8rem -0.8rem;
	.search-field {
		margin: 0 0 0.8rem 0.8rem;
		width: 100%;
	}
	.search-submit {
		margin: 0 0 0.8rem 0.8rem;
		flex-shrink: 0;
		&:focus {
			text-decoration: none;
		}
		&:hover {
			text-decoration: none;
		}
	}
	label {
		align-items: stretch;
		display: flex;
		font-size: inherit;
		margin: 0;
		width: 100%;
	}
}
ul.social-icons {
	display: flex;
	flex-wrap: wrap;
	margin: -0.9rem 0 0 -0.9rem;
	width: calc(100% + 0.9rem);
	li {
		margin: 0.9rem 0 0 0.9rem;
	}
}
.social-icons {
	a {
		align-items: center;
		background: $naza-brown;
		border-radius: 50%;
		color: #fff;
		display: flex;
		height: 4.4rem;
		justify-content: center;
		padding: 0;
		text-decoration: none;
		transition: transform 0.15s ease-in-out;
		width: 4.4rem;
		&:focus {
			transform: scale(1.1);
			text-decoration: none;
		}
		&:hover {
			transform: scale(1.1);
			text-decoration: none;
		}
	}
}
.cover-modal {
	display: none;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	&::-webkit-scrollbar {
		display: none !important;
	}
}
.cover-modal.show-modal {
	display: block;
	cursor: pointer;
	>* {
		cursor: default;
	}
}
#site-header {
	background: #fff;
	position: relative;
}
.header-inner {
	max-width: 168rem;
	padding: 3.15rem 0;
	z-index: 100;
	.toggle {
		align-items: center;
		display: flex;
		overflow: visible;
		padding: 0 2rem;
		svg {
			display: block;
			position: relative;
			z-index: 1;
		}
		path {
			fill: currentColor;
		}
		&:focus {
			.toggle-text {
				text-decoration: underline;
			}
		}
		&:hover {
			.toggle-text {
				text-decoration: underline;
			}
		}
	}
}
.header-titles-wrapper {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 0 4rem;
	text-align: center;
}
.site-title {
	margin: 0;
	font-size: 2.1rem;
	font-weight: 600;
	line-height: 1;
	a {
		color: inherit;
		display: block;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			text-decoration: underline;
		}
	}
}
.site-logo {
	margin: 0;
	a {
		display: block;
	}
	img {
		display: block;
		max-height: 6rem;
		margin: 0 auto;
		width: auto;
	}
}
.site-description {
	margin: 0;
	margin-top: 1rem;
	color: #6d6d6d;
	font-size: 1.8rem;
	font-weight: 500;
	display: none;
	letter-spacing: -0.0311em;
	transition: all 0.15s linear;
}
.header-titles {
	.site-logo {
		.site-logo {
			margin: 0;
		}
	}
}
.overlay-header {
	#site-header {
		background: transparent;
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 2;
	}
	.header-inner {
		color: #fff;
		.toggle-wrapper {
			&::before {
				background-color: currentColor;
				opacity: 0.25;
			}
		}
	}
	.site-description {
		color: inherit;
	}
	.toggle {
		color: inherit;
	}
	.toggle-text {
		color: inherit;
	}
}
.admin-bar.overlay-header {
	#site-header {
		top: 32px;
	}
}
.header-navigation-wrapper {
	display: none;
}
.header-toggles {
	display: none;
}
.toggle-inner {
	display: flex;
	justify-content: center;
	height: 2.3rem;
	position: relative;
	.toggle-text {
		color: #6d6d6d;
		font-size: 1rem;
		font-weight: 600;
		position: absolute;
		top: calc(100% + 0.5rem);
		width: auto;
		white-space: nowrap;
		word-break: break-all;
	}
}
.toggle-icon {
	display: block;
	overflow: hidden;
}
.search-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	.toggle-icon {
		height: 2.5rem;
		max-width: 2.3rem;
		width: 2.3rem;
	}
	svg {
		height: 2.5rem;
		max-width: 2.3rem;
		width: 2.3rem;
	}
}
.nav-toggle {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	width: 6.6rem;
	.toggle-icon {
		height: 0.8rem;
		width: 2.6rem;
	}
	svg {
		height: 0.8rem;
		width: 2.6rem;
	}
	.toggle-inner {
		padding-top: 0.8rem;
	}
}
.primary-menu-wrapper {
	display: none;
}
ul.primary-menu {
	display: flex;
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: -0.0277em;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: -0.8rem 0 0 -1.6rem;
}
.primary-menu {
	.icon {
		display: block;
		height: 0.7rem;
		position: absolute;
		pointer-events: none;
		transform: rotate(-45deg);
		width: 1.3rem;
		&::before {
			content: "";
			display: block;
			background-color: currentColor;
			position: absolute;
			bottom: calc(50% - 0.1rem);
			left: 0;
			height: 0.9rem;
			width: 0.2rem;
		}
		&::after {
			content: "";
			display: block;
			background-color: currentColor;
			position: absolute;
			bottom: calc(50% - 0.1rem);
			left: 0;
			height: 0.2rem;
			width: 0.9rem;
		}
	}
	li {
		font-size: inherit;
		line-height: 1.25;
		position: relative;
	}
	>li {
		margin: 0.8rem 0 0 1.6rem;
		>.icon {
			right: -0.5rem;
			top: calc(50% - 0.4rem);
		}
	}
	>li.menu-item-has-children {
		>a {
			padding-right: 2rem;
		}
	}
	a {
		color: inherit;
		display: block;
		line-height: 1.2;
		text-decoration: none;
		word-break: normal;
		word-wrap: normal;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			text-decoration: underline;
		}
	}
	.current_page_ancestor {
		text-decoration: underline;
	}
	li.current-menu-item {
		>a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
		>.link-icon-wrapper {
			>a {
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
	ul {
		background: #000;
		border-radius: 0.4rem;
		color: #fff;
		font-size: 1.7rem;
		opacity: 0;
		padding: 1rem 0;
		position: absolute;
		right: 9999rem;
		top: calc(100% + 2rem);
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;
		transform: translateY(0.6rem);
		width: 20rem;
		z-index: 1;
		&::before {
			content: "";
			display: block;
			position: absolute;
			bottom: 100%;
			height: 2rem;
			left: 0;
			right: 0;
		}
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 100%;
			border: 0.8rem solid transparent;
			border-bottom-color: #000;
			right: 1.8rem;
		}
		a {
			background: transparent;
			border: none;
			color: inherit;
			display: block;
			padding: 1rem 2rem;
			transition: background-color 0.15s linear;
			width: 100%;
		}
		li.menu-item-has-children {
			>a {
				padding-right: 4.5rem;
			}
			.icon {
				position: absolute;
				right: 1.5rem;
				top: calc(50% - 0.5rem);
			}
			&:hover {
				>ul {
					right: calc(100% + 2rem);
				}
			}
			&:focus {
				>ul {
					right: calc(100% + 2rem);
				}
			}
		}
		ul {
			top: -1rem;
			&::before {
				bottom: 0;
				height: auto;
				left: auto;
				right: -2rem;
				top: 0;
				width: 2rem;
			}
			&::after {
				border-bottom-color: transparent;
				border-left-color: #000;
				bottom: auto;
				right: -1.6rem;
				top: 2rem;
			}
		}
		li.menu-item-has-children.focus {
			>ul {
				right: calc(100% + 2rem);
			}
		}
	}
	li.menu-item-has-children {
		&:hover {
			>ul {
				right: 0;
				opacity: 1;
				transform: translateY(0);
				transition: opacity 0.15s linear, transform 0.15s linear;
			}
		}
		&:focus {
			>ul {
				right: 0;
				opacity: 1;
				transform: translateY(0);
				transition: opacity 0.15s linear, transform 0.15s linear;
			}
		}
	}
	li.menu-item-has-children.focus {
		>ul {
			right: 0;
			opacity: 1;
			transform: translateY(0);
			transition: opacity 0.15s linear, transform 0.15s linear;
		}
	}
}
.rtl {
	.primary-menu {
		ul {
			ul {
				&::after {
					transform: rotate(180deg);
				}
			}
		}
	}
}
body.touch-enabled {
	.primary-menu {
		>li.menu-item-has-children {
			>a {
				padding-right: 0;
				margin-right: 2rem;
			}
		}
		ul {
			li.menu-item-has-children {
				>a {
					margin-right: 4.5rem;
					padding-right: 0;
					width: unset;
				}
			}
		}
	}
}
.menu-modal {
	background: #fff;
	display: none;
	opacity: 0;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	left: -99999rem;
	right: 99999rem;
	top: 0;
	transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s;
	z-index: 99;
	.menu-top {
		flex-shrink: 0;
	}
}
.menu-modal.show-modal {
	display: flex;
}
.menu-modal.active {
	left: 0;
	opacity: 1;
	right: 0;
	transition: opacity 0.25s ease-out;
}
.menu-modal-inner {
	background: #fff;
	display: flex;
	justify-content: stretch;
	overflow: auto;
	-ms-overflow-style: auto;
	width: 100%;
}
.menu-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	.menu-item {
		position: relative;
	}
	.active {
		display: block;
	}
}
button.close-nav-toggle {
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-weight: 500;
	justify-content: flex-end;
	padding: 3.1rem 0;
	width: 100%;
	svg {
		height: 1.6rem;
		width: 1.6rem;
	}
	.toggle-text {
		margin-right: 1.6rem;
	}
}
.modal-menu {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;
	li {
		border-color: #dedfdf;
		border-style: solid;
		border-width: 0.1rem 0 0 0;
		display: flex;
		flex-wrap: wrap;
		line-height: 1;
		justify-content: flex-start;
		margin: 0;
	}
	>li {
		>a {
			font-size: 2rem;
			font-weight: 700;
			letter-spacing: -0.0375em;
		}
		>.ancestor-wrapper {
			>a {
				font-size: 2rem;
				font-weight: 700;
				letter-spacing: -0.0375em;
			}
		}
		&:last-child {
			border-bottom-width: 0.1rem;
		}
	}
	.ancestor-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	a {
		display: block;
		padding: 2rem 2.5rem;
		text-decoration: none;
		width: 100%;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	li.current-menu-item {
		>.ancestor-wrapper {
			>a {
				text-decoration: underline;
			}
		}
	}
	li.current_page_ancestor {
		>.ancestor-wrapper {
			>a {
				text-decoration: underline;
			}
		}
	}
	ul {
		display: none;
		margin: 0;
		width: 100%;
		li {
			border-left-width: 1rem;
			a {
				color: inherit;
				font-weight: 500;
			}
		}
	}
}
button.sub-menu-toggle {
	border-left: 0.1rem solid #dedfdf;
	flex-shrink: 0;
	margin: 1rem 0;
	padding: 0 2.5rem;
	svg {
		height: 0.9rem;
		transition: transform 0.15s linear;
		width: 1.5rem;
	}
}
button.sub-menu-toggle.active {
	svg {
		transform: rotate(180deg);
	}
}
.menu-wrapper.is-toggling {
	pointer-events: none;
	.menu-item {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		width: 100%;
	}
	.menu-bottom {
		.social-menu {
			.menu-item {
				width: auto;
			}
		}
	}
	.toggling-target {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
	}
	.toggling-target.active {
		opacity: 0;
	}
	.modal-menu {
		>li {
			&:last-child {
				li {
					border-top-color: transparent;
					border-bottom-width: 0.1rem;
				}
			}
		}
	}
}
.menu-wrapper.is-animating {
	.menu-item {
		transition-duration: 250ms;
		transition-property: transform;
	}
	.toggling-target {
		transition-duration: 250ms;
	}
}
.menu-wrapper.is-animating.is-toggling {
	.toggling-target {
		display: block;
		transition-property: opacity;
		opacity: 0;
	}
	.toggling-target.active {
		opacity: 1;
	}
}
.expanded-menu {
	display: none;
}
.mobile-menu {
	display: block;
}
.menu-bottom {
	flex-shrink: 0;
	padding: 4rem 0;
	nav {
		width: 100%;
	}
	.social-menu {
		justify-content: center;
	}
}
.menu-copyright {
	display: none;
	font-size: 1rem;
	font-weight: 500;
	margin: 0;
	a {
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.search-modal {
	background: rgba(0, 0, 0, 0.2);
	display: none;
	opacity: 0;
	position: fixed;
	bottom: 0;
	left: -9999rem;
	top: 0;
	transition: opacity 0.2s linear, left 0s 0.2s linear;
	width: 100%;
	z-index: 999;
	button.search-untoggle {
		color: inherit;
	}
	form {
		margin: 0;
		position: relative;
		width: 100%;
	}
	.search-field {
		background: none;
		border: none;
		border-radius: 0;
		color: inherit;
		font-size: 2rem;
		letter-spacing: -0.0277em;
		height: 8.4rem;
		margin: 0 0 0 -2rem;
		max-width: calc(100% + 2rem);
		padding: 0 0 0 2rem;
		width: calc(100% + 2rem);
		&::-webkit-input-placeholder {
			color: inherit;
		}
		&:-ms-input-placeholder {
			color: inherit;
		}
		&::-moz-placeholder {
			color: inherit;
			line-height: 4;
		}
	}
	.search-submit {
		position: absolute;
		right: -9999rem;
		top: 50%;
		transform: translateY(-50%);
		&:focus {
			right: 0;
		}
	}
}
.search-modal-inner {
	background: #fff;
	transform: translateY(-100%);
	transition: transform 0.15s linear, box-shadow 0.15s linear;
	.section-inner {
		display: flex;
		justify-content: space-between;
		max-width: 168rem;
	}
}
.search-modal.active {
	left: 0;
	opacity: 1;
	transition: opacity 0.2s linear;
	.search-modal-inner {
		box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.08);
		transform: translateY(0);
		transition: transform 0.25s ease-in-out, box-shadow 0.1s 0.25s linear;
	}
	.search-untoggle {
		animation: popIn both 0.3s 0.2s;
	}
}
button.search-untoggle {
	align-items: center;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	margin-right: -2.5rem;
	padding: 0 2.5rem;
}
.search-untoggle {
	svg {
		height: 1.5rem;
		transition: transform 0.15s ease-in-out;
		width: 1.5rem;
	}
	&:focus {
		svg {
			transform: scale(1.15);
		}
	}
	&:hover {
		svg {
			transform: scale(1.15);
		}
	}
}
.cover-header {
	display: flex;
	overflow: hidden;
	.entry-header {
		position: relative;
		width: 100%;
		z-index: 1;
		* {
			color: #fff;
		}
		a {
			color: inherit;
		}
	}
	h1 {
		color: inherit;
	}
	h2 {
		color: inherit;
	}
	h3 {
		color: inherit;
	}
	h4 {
		color: inherit;
	}
	h5 {
		color: inherit;
	}
	h6 {
		color: inherit;
	}
	.faux-heading {
		color: inherit;
	}
}
.cover-header-inner-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
}
.cover-header-inner {
	padding: 10rem 0 5rem 0;
	width: 100%;
}
.cover-color-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	&::before {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background: currentColor;
		content: "";
		display: block;
	}
}
body.template-cover {
	.entry-header {
		background: transparent;
		padding: 0;
	}
}
.to-the-content-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: calc(100% + 0.5rem);
}
.to-the-content {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 4rem;
	text-decoration: none;
	svg {
		height: 2rem;
		transition: transform 0.15s linear;
		transform: translateY(0);
		width: 1.767rem;
	}
	&:focus {
		svg {
			transform: translateY(20%);
		}
	}
	&:hover {
		svg {
			transform: translateY(20%);
		}
	}
}
body.template-full-width {
	.entry-content {
		>* {
			&:not(.alignwide) {
				&:not(.alignfull) {
					&:not(.alignleft) {
						&:not(.alignright) {
							&:not(.is-style-wide) {
								max-width: 120rem;
							}
						}
					}
				}
			}
		}
		.alignleft {
			position: static;
			margin-left: 0;
			position: static;
		}
		.alignright {
			position: static;
			margin-right: 0;
			position: static;
		}
		>.alignleft {
			margin-left: 2rem;
			position: static;
		}
		>.alignright {
			margin-right: 2rem;
			position: static;
		}
	}
	[class*="__inner-container"] {
		>* {
			&:not(.alignwide) {
				&:not(.alignfull) {
					&:not(.alignleft) {
						&:not(.alignright) {
							&:not(.is-style-wide) {
								max-width: 120rem;
							}
						}
					}
				}
			}
		}
	}
	[class*="wp-block"].alignwide {
		[class*="__inner-container"] {
			>.alignleft {
				margin-left: 0;
				position: static;
			}
			>p {
				.alignleft {
					margin-left: 0;
					position: static;
				}
				.alignright {
					margin-right: 0;
					position: static;
				}
			}
			>.wp-block-image {
				.alignleft {
					margin-left: 0;
					position: static;
				}
				.alignright {
					margin-right: 0;
					position: static;
				}
			}
			>.alignright {
				margin-right: 0;
				position: static;
			}
		}
	}
	[class*="wp-block"].alignfull {
		&:not(.has-background) {
			[class*="__inner-container"] {
				>.alignleft {
					margin-left: 2rem;
					position: static;
				}
				>p {
					.alignleft {
						margin-left: 2rem;
						position: static;
					}
					.alignright {
						margin-right: 2rem;
						position: static;
					}
				}
				>.wp-block-image {
					.alignleft {
						margin-left: 2rem;
						position: static;
					}
					.alignright {
						margin-right: 2rem;
						position: static;
					}
				}
				>.alignright {
					margin-right: 2rem;
					position: static;
				}
			}
		}
	}
}
.archive-header {
	background-color: #fff;
	padding: 4rem 0;
}
.reduced-spacing {
	.archive-header {
		padding-bottom: 2rem;
	}
	.wp-block-pullquote {
		&::before {
			border: 0.1rem solid currentColor;
			font-size: 5.9rem;
		}
	}
}
.archive-title {
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: -0.026666667em;
	margin: 0;
}
.archive-subtitle {
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.no-search-results-form {
	padding-top: 5rem;
}
.singular {
	.entry-header {
		padding: 4rem 0;
	}
	.intro-text {
		font-size: 2rem;
		letter-spacing: -0.0315em;
		line-height: 1.4;
	}
	.featured-media {
        margin-top: 0;
		&::before {
			background: #fff;
			content: "";
			display: block;
			position: absolute;
			bottom: 50%;
			left: 0;
			right: 0;
			top: 0;
		}
	}
	.featured-media-inner {
        position: relative;
        max-height: 500px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.entry-categories {
	line-height: 1.25;
	margin-bottom: 2rem;
	a {
		border-bottom: 0.15rem solid currentColor;
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: 0.036666667em;
		margin: 0.5rem 0 0 1rem;
		text-decoration: none;
		text-transform: uppercase;
		&:focus {
			border-bottom-color: transparent;
		}
		&:hover {
			border-bottom-color: transparent;
		}
	}
}
.entry-categories-inner {
	justify-content: left;
	display: flex;
	flex-wrap: wrap;
	margin: -0.5rem 0 0 -1rem;
}
h1.entry-title {
	margin: 0;
}
h2.entry-title {
	margin: 0;
}
.entry-title {
	a {
		color: inherit;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.intro-text {
	margin-top: 2rem;
}
.post-meta-single-top {
	.post-meta {
		justify-content: center;
	}
}
.post-meta-wrapper {
    display: none;
	margin-top: 2rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 58rem;
	width: 100%;
}
.post-meta {
	color: #6d6d6d;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.5rem;
	font-weight: 500;
	list-style: none;
	margin: -1rem 0 0 -2rem;
	li {
		flex-shrink: 0;
		letter-spacing: -0.016875em;
		margin: 1rem 0 0 2rem;
		max-width: calc(100% - 2rem);
	}
	a {
		color: inherit;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.meta-wrapper {
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
	}
	.meta-icon {
		flex-shrink: 0;
		margin-right: 1rem;
	}
	.post-author {
		.meta-icon {
			svg {
				width: 1.6rem;
				height: 1.8rem;
			}
		}
	}
	.post-categories {
		.meta-icon {
			svg {
				width: 1.8rem;
				height: 1.7rem;
			}
		}
	}
	.post-comment-link {
		.meta-icon {
			svg {
				width: 1.8rem;
				height: 1.8rem;
			}
		}
	}
	.post-date {
		.meta-icon {
			svg {
				width: 1.7rem;
				height: 1.8rem;
			}
		}
	}
	.post-edit {
		.meta-icon {
			svg {
				width: 1.8rem;
				height: 1.8rem;
			}
		}
	}
	.post-sticky {
		.meta-icon {
			svg {
				width: 1.5rem;
				height: 1.8rem;
			}
		}
	}
	.post-tags {
		.meta-icon {
			svg {
				width: 1.8rem;
				height: 1.8rem;
			}
		}
	}
	svg {
		* {
			fill: currentColor;
		}
	}
}
.sticky {
	.post-sticky {
		color: inherit;
	}
}
.featured-media {
	margin-top: 5rem;
	position: relative;
	img {
        margin: 0 auto;
        width: 100%;
	}
	figcaption {
		margin: 1.5rem auto 0 auto;
		text-align: center;
		width: calc(100% - 5rem);
	}
}
.post-inner {
	padding-top: 5rem;
	.entry-content {
		>.wp-block-cover.alignwide {
			&:first-child {
				margin-top: 0;
			}
		}
		>.wp-block-cover.alignfull {
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
.reduced-spacing.missing-post-thumbnail {
	.post-inner {
		padding-top: 0;
	}
}
.post-nav-links {
	border-radius: 0.4rem;
	display: flex;
	font-size: 0.9em;
	font-weight: 600;
	line-height: 1;
	margin: 3em auto 0 auto;
	padding: 0;
	width: calc(100% - 4rem);
	max-width: 58rem;
	>span.label {
		padding: 1em 0;
	}
	>* {
		padding: 1em 0.75em;
	}
}
.post-meta-wrapper.post-meta-single-bottom {
	margin-top: 3rem;
}
.author-bio {
	margin-top: 4rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 58rem;
	width: 100%;
	.author-title-wrapper {
		align-items: center;
		display: flex;
		margin: 0 0 1rem 0;
	}
	.avatar {
		border-radius: 50%;
		margin-right: 1.5rem;
		height: 5rem;
		width: 5rem;
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	.author-title {
		margin: 0;
	}
	.author-link {
		display: block;
		font-size: 1rem;
		font-weight: 600;
		margin-top: 1em;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.wp-show-posts-image {
    img {
        margin: 0!important;
        vertical-align: bottom;
        height: auto;
        width: 100%;
        max-height: 300px;
        overflow: hidden;
        object-fit: cover !important;
    }
}


.hide-avatars {
	.author-bio {
		padding-left: 0;
	}
	img.avatar {
		display: none;
	}
	.comment-meta {
		min-height: 0;
		padding-left: 0;
	}
}
.pagination-single {
	font-size: 1.8rem;
	margin-top: 5rem;
	hr {
		&:first-child {
			margin: 0 0 2.8rem 0;
		}
		&:last-child {
			margin: 2.8rem 0 0.8rem 0;
		}
	}
	a {
		align-items: baseline;
        display: flex;
		font-weight: 600;
		letter-spacing: -0.0275em;
		text-decoration: none;
        flex: 1;
        font-size: 16px;
		+ {
			a {
				margin-top: 1rem;
			}
		}
		.arrow {
			margin-right: 1rem;
		}
		&:focus {
			.title {
				text-decoration: underline;
			}
		}
		&:hover {
			.title {
				text-decoration: underline;
			}
		}
	}
}
.pagination-single-inner {
	display: flex;
    flex-direction: column;
}
.has-text-color {
	a {
		color: inherit;
	}
}
.has-text-align-left {
	text-align: left;
}
.has-text-align-center {
	text-align: center;
}
.has-text-align-right {
	text-align: right;
}
.has-drop-cap {
	&:not(:focus) {
		&::first-letter {
			color: $naza-brown;
			font-family: $body-font;
			font-size: 5.1em;
			font-weight: 800;
			margin: 0.05em 0.1em 0 0;
			font-family: $body-font;
			&::after {
				content: "";
				display: table;
				clear: both;
			}
		}
		&::after {
			padding: 0;
		}
	}
}
*[class*="_inner-container"] {
	>* {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.wp-block-archives {
	&:not(.alignwide) {
		&:not(.alignfull) {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
	}
	list-style: none;
	margin-left: 0;
	ul {
		list-style: none;
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			text-decoration: underline;
		}
	}
}
.wp-block-categories {
	&:not(.alignwide) {
		&:not(.alignfull) {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
	}
	list-style: none;
	margin-left: 0;
	ul {
		list-style: none;
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			text-decoration: underline;
		}
	}
}
.wp-block-code {
	margin-bottom: 3rem;
	margin-top: 3rem;
}
.wp-block-columns {
	&:not(.alignwide) {
		&:not(.alignfull) {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
	}
}
.wp-block-cover {
	&:not(.alignwide) {
		&:not(.alignfull) {
			&:not(.alignleft) {
				&:not(.alignright) {
					&:not(.aligncenter) {
						margin-bottom: 3rem;
						margin-top: 3rem;
					}
				}
			}
		}
	}
	.wp-block-cover__inner-container {
		width: calc(100% - 4rem);
		padding: 2rem 0;
	}
	.wp-block-cover-image-text {
		max-width: 100%;
		padding: 0;
	}
	.wp-block-cover-text {
		max-width: 100%;
		padding: 0;
	}
	h2 {
		max-width: 100%;
		padding: 0;
		font-size: 3.2rem;
	}
}
.wp-block-embed {
	&:not(.alignwide) {
		&:not(.alignfull) {
			&:not(.alignleft) {
				&:not(.alignright) {
					&:not(.aligncenter) {
						margin-bottom: 3rem;
						margin-top: 3rem;
					}
				}
			}
		}
	}
	figcaption {
		color: #6d6d6d;
		font-size: 1.4rem;
		margin-bottom: 0;
		margin-top: 1.5rem;
	}
}
.wp-block-gallery {
	&:not(.alignwide) {
		&:not(.alignfull) {
			&:not(.alignleft) {
				&:not(.alignright) {
					&:not(.aligncenter) {
						margin-bottom: 3rem;
						margin-top: 3rem;
					}
				}
			}
		}
	}
	ul {
		list-style: none;
		margin: 0 0 -1.6rem 0;
	}
}
.wp-block-group {
	&:not(.has-background) {
		&:not(.alignwide) {
			&:not(.alignfull) {
				margin-bottom: 3rem;
				margin-top: 3rem;
			}
		}
	}
}
.wp-block-image {
	&:not(.alignwide) {
		&:not(.alignfull) {
			&:not(.alignleft) {
				&:not(.alignright) {
					&:not(.aligncenter) {
						margin-bottom: 3rem;
						margin-top: 3rem;
					}
				}
			}
		}
	}
	figcaption {
		color: #6d6d6d;
		font-size: 1.4rem;
		margin-bottom: 0;
		margin-top: 1.5rem;
	}
}
.wp-block-latest-comments {
	&:not(.aligncenter) {
		&:not(.alignleft) {
			&:not(.alignright) {
				margin-bottom: 3rem;
				margin-top: 3rem;
			}
		}
	}
	list-style: none;
	margin-left: 0;
	ul {
		list-style: none;
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			text-decoration: underline;
		}
	}
}
.wp-block-latest-posts {
	&:not(.aligncenter) {
		&:not(.alignleft) {
			&:not(.alignright) {
				margin-bottom: 3rem;
				margin-top: 3rem;
			}
		}
	}
	list-style: none;
	margin-left: 0;
	ul {
		list-style: none;
	}
	a {
		font-weight: 700;
		text-decoration: none;
		font-weight: 700;
		letter-spacing: -0.025em;
		line-height: 1.25;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			text-decoration: underline;
		}
	}
}
.wp-block-media-text {
	&:not(.alignwide) {
		&:not(.alignfull) {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
	}
	.wp-block-media-text__content {
		padding: 3rem 2rem;
		p {
			max-width: none;
		}
	}
}
.wp-block-preformatted {
	margin-bottom: 3rem;
	margin-top: 3rem;
}
.wp-block-pullquote {
	&:not(.alignwide) {
		&:not(.alignfull) {
			&:not(.alignleft) {
				&:not(.alignright) {
					margin-bottom: 3rem;
					margin-top: 3rem;
				}
			}
		}
	}
	padding: 0;
	position: relative;
	&::before {
		background: #fff;
		border-radius: 50%;
		color: $naza-brown;
		content: "”";
		display: block;
		font-size: 6.2rem;
		font-weight: 500;
		line-height: 1.2;
		margin: 0 auto 1.5rem auto;
		text-align: center;
		height: 4.4rem;
		width: 4.4rem;
	}
	blockquote {
		border: none;
		margin: 0;
		padding: 0;
		p {
			font-family: inherit;
			font-size: 2.8rem;
			font-weight: 700;
			line-height: 1.178571429;
			letter-spacing: -0.041785714em;
			max-width: 100%;
		}
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	cite {
		color: #6d6d6d;
		font-size: 1rem;
		font-weight: 500;
		margin-top: 1.2rem;
	}
}
.wp-block-quote {
	margin-bottom: 3rem;
	margin-top: 3rem;
	p {
		text-align: inherit;
	}
	cite {
		text-align: inherit;
	}
}
.wp-block-quote.is-large {
	margin-bottom: 3rem;
	margin-top: 3rem;
	border: none;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	p {
		font-family: inherit;
		font-size: 2.4rem;
		font-style: normal;
		font-weight: 700;
		letter-spacing: -0.02em;
		line-height: 1.285;
	}
	cite {
		font-size: 1rem;
		text-align: inherit;
	}
	footer {
		font-size: 1rem;
		text-align: inherit;
	}
}
.wp-block-quote.is-style-large {
	margin-bottom: 3rem;
	margin-top: 3rem;
	border: none;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	p {
		font-family: inherit;
		font-size: 2.4rem;
		font-style: normal;
		font-weight: 700;
		letter-spacing: -0.02em;
		line-height: 1.285;
	}
	cite {
		font-size: 1rem;
		text-align: inherit;
	}
	footer {
		font-size: 1rem;
		text-align: inherit;
	}
}
.wp-block-verse {
	margin-bottom: 3rem;
	margin-top: 3rem;
}
.wp-block-video {
	&:not(.alignwide) {
		&:not(.alignfull) {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
	}
}
[class*="__inner-container"] {
	.wp-block-group {
		&:not(.alignfull) {
			&:not(.alignwide) {
				&:not(.alignleft) {
					&:not(.alignright) {
						margin-left: auto;
						margin-right: auto;
						max-width: 58rem;
					}
				}
			}
		}
	}
	.wp-block-cover {
		&:not(.alignfull) {
			&:not(.alignwide) {
				&:not(.alignleft) {
					&:not(.alignright) {
						margin-left: auto;
						margin-right: auto;
						max-width: 58rem;
					}
				}
			}
		}
	}
	>* {
		&:not(.alignwide) {
			&:not(.alignfull) {
				&:not(.alignleft) {
					&:not(.alignright) {
						&:not(.is-style-wide) {
							max-width: 58rem;
							width: 100%;
						}
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
		}
	}
	>.alignfull {
		max-width: 100%;
	}
	>.alignwide {
		width: 100%;
	}
}
.wp-block-latest-comments__comment-meta {
	font-weight: 700;
	letter-spacing: -0.025em;
	line-height: 1.25;
}
.wp-block-latest-comments__comment-date {
	color: #6d6d6d;
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: normal;
	margin-top: 0.15em;
	margin-top: 0.4em;
}
.wp-block-latest-posts__post-date {
	color: #6d6d6d;
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: normal;
	margin-top: 0.15em;
}
.wp-block-audio {
	audio {
		width: 100%;
	}
}
.wp-block-button.is-style-outline {
	color: $naza-brown;
}
.is-style-outline {
	.wp-block-button__link {
		&:not(.has-text-color) {
			color: inherit;
		}
		padding: calc(1.1em - 0.2rem) calc(1.44em - 0.2rem);
	}
}
.wp-block-columns.alignfull {
	padding-left: 2rem;
	padding-right: 2rem;
}
.alignfull {
	&:not(.has-background) {
		.wp-block-columns {
			padding-left: 2rem;
			padding-right: 2rem;
		}
		>.wp-block-group__inner-container {
			>p {
				&:not(.has-background-color) {
					padding-left: 2rem;
					padding-right: 2rem;
				}
			}
		}
	}
	margin-top: 5rem;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
	max-width: 100vw;
	position: relative;
	width: 100%;
	>figcaption {
		margin-left: auto;
		margin-right: auto;
		max-width: 58rem;
		width: calc(100% - 4rem);
	}
	>.wp-caption-text {
		margin-left: auto;
		margin-right: auto;
		max-width: 58rem;
		width: calc(100% - 4rem);
	}
}
.wp-block-column {
	margin-bottom: 3.2rem;
	>* {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.wp-block-cover-image {
	.wp-block-cover__inner-container {
		width: calc(100% - 4rem);
		padding: 2rem 0;
	}
	.wp-block-cover-image-text {
		max-width: 100%;
		padding: 0;
	}
	.wp-block-cover-text {
		max-width: 100%;
		padding: 0;
	}
	h2 {
		max-width: 100%;
		padding: 0;
		font-size: 3.2rem;
	}
}
figure.wp-block-gallery.alignnone {
	margin-bottom: 3rem;
	margin-top: 3rem;
}
figure.wp-block-gallery.aligncenter {
	margin-bottom: 3rem;
	margin-top: 3rem;
}
figure.wp-block-gallery.alignleft {
	margin: 0.3rem 2rem 2rem 0;
}
figure.wp-block-gallery.alignright {
	margin: 0.3rem 0 2rem 2rem;
}
figure.wp-block-gallery.alignwide {
	margin-bottom: 4rem;
	margin-top: 4rem;
}
figure.wp-block-gallery.alignfull {
	margin-bottom: 5rem;
	margin-top: 5rem;
}
.wp-block-group.has-background {
	padding: 2rem;
	margin-bottom: 0;
	margin-top: 0;
}
.wp-block-group__inner-container {
	margin: 0 auto;
	max-width: 100%;
}
.wp-block-media-text__content {
	>* {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.wp-block-pullquote.alignleft {
	max-width: calc(100% - 4rem);
	text-align: left;
	p {
		font-size: 2.8rem;
	}
	&::before {
		margin-left: 0;
	}
}
.wp-block-pullquote.alignright {
	max-width: calc(100% - 4rem);
	text-align: right;
	p {
		font-size: 2.8rem;
	}
	&::before {
		margin-right: 0;
	}
}
.wp-block-pullquote.is-style-solid-color {
	padding: 3rem 2rem;
	&::before {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}
	blockquote {
		max-width: 100%;
		text-align: inherit;
	}
	cite {
		color: inherit;
	}
}
.wp-block-pullquote.is-style-solid-color.alignleft {
	&::before {
		transform: translateY(-50%);
		left: 2rem;
	}
}
.wp-block-pullquote.is-style-solid-color.alignright {
	&::before {
		transform: translateY(-50%);
		left: auto;
		right: 2rem;
	}
}
hr.wp-block-separator {
	margin: 3rem 0;
}
.wp-block-separator.is-style-wide {
	max-width: calc(100vw - 4rem);
	position: relative;
	width: 100%;
}
.wp-block-separator.is-style-dots {
	&::before {
		background: none;
		color: inherit;
		font-size: 3.2rem;
		font-weight: 700;
		height: auto;
		letter-spacing: 1em;
		padding-left: 1em;
		position: static;
		transform: none;
		width: auto;
	}
	&::after {
		content: none;
	}
}
.wp-block-search {
	.wp-block-search__input {
		width: auto;
	}
}
.wp-block-table.is-style-stripes {
	tbody {
		tr {
			&:nth-child(odd) {
				background: #dcd7ca;
			}
		}
	}
	table {
		border-collapse: inherit;
	}
}
figure.wp-block-table.is-style-stripes {
	border-bottom: none;
}
.wp-block-quote[style="text-align:center"] {
	border-width: 0;
	padding: 0;
}
.wp-block-quote[style="text-align:right"] {
	border-width: 0 0.2rem 0 0;
	padding: 0 2rem 0 0;
}
.has-avatars {
	.wp-block-latest-comments__comment {
		.wp-block-latest-comments__comment-excerpt {
			margin-left: 5.5rem;
		}
		.wp-block-latest-comments__comment-meta {
			margin-left: 5.5rem;
		}
	}
}
.wp-block-latest-comments__comment {
	font-size: inherit;
}
.wp-block-latest-comments__comment-excerpt {
	p {
		font-size: 0.7em;
		margin: 0.9rem 0 2rem 0;
	}
}
.wp-block-latest-posts.is-grid {
	li {
		border-top: 0.2rem solid #dcd7ca;
		margin-top: 2rem;
		padding-top: 1rem;
	}
}
.wp-block-latest-posts.has-dates {
	list-style: none;
	&:not(.is-grid) {
		li {
			margin-top: 1.5rem;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
.read-more-button-wrap {
	margin-top: 1em;
	text-align: center;
}
.alignnone {
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
}
.aligncenter {
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	margin-left: auto;
	margin-right: auto;
	img {
		margin-left: auto;
		margin-right: auto;
	}
}
.alignwide {
	margin-top: 4rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	max-width: 120rem;
	position: relative;
	width: calc(100% - 4rem);
}
[class*="wp-block"].alignfull {
	&:not(.has-background) {
		[class*="__inner-container"] {
			>.alignleft {
				margin-left: 2rem;
			}
			>p {
				.alignleft {
					margin-left: 2rem;
				}
				.alignright {
					margin-right: 2rem;
				}
			}
			>.wp-block-image {
				.alignleft {
					margin-left: 2rem;
				}
				.alignright {
					margin-right: 2rem;
				}
			}
			>.alignright {
				margin-right: 2rem;
			}
		}
	}
}
.comments-wrapper {
	margin-top: 5rem;
}
.comment-reply-title {
	margin: 0 0 4rem 0;
	text-align: center;
	small {
		display: block;
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: -0.0277em;
		margin: 0.5rem 0 0 0;
		white-space: nowrap;
		a {
			text-decoration: none;
			&:focus {
				text-decoration: underline;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.comments {
	.comment {
		padding-top: 3.5rem;
	}
	.pingback {
		padding-top: 3.5rem;
	}
	.trackback {
		padding-top: 3.5rem;
	}
	.review {
		padding-top: 3.5rem;
	}
	.comments-header {
		+ {
			div {
				margin-top: 0;
				padding-top: 0;
			}
		}
	}
	.comment-respond {
		padding: 3rem 0 0;
		.comment-reply-title {
			text-align: left;
		}
		.comment-notes {
			text-align: left;
		}
		.logged-in-as {
			text-align: left;
		}
	}
}
div.comment {
	&:first-of-type {
		margin-top: 3.5rem;
		padding-top: 0;
	}
}
.comment-body {
	position: relative;
}
.comment {
	.comment {
		padding-left: 5%;
	}
}
.comment-meta {
	line-height: 1.1;
	margin-bottom: 1.5rem;
	min-height: 5rem;
	padding-left: 5rem;
	position: relative;
	a {
		color: inherit;
	}
	.avatar {
		height: 4rem;
		position: absolute;
		left: 0;
		top: 0;
		width: 4rem;
	}
}
.comment-author {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.027777778em;
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	.url {
		text-decoration: underline;
	}
}
.comment-metadata {
	color: #6d6d6d;
	font-size: 1.4rem;
	font-weight: 500;
	margin-top: 0.6rem;
	a {
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.comment-content.entry-content {
	>* {
		&:not(.alignwide) {
			&:not(.alignfull) {
				&:not(.alignleft) {
					&:not(.alignright) {
						&:not(.is-style-wide) {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.alignleft {
		margin-left: 0;
	}
	.alignright {
		margin-right: 0;
	}
}
.comment-footer-meta {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.2rem;
	font-weight: 600;
	justify-content: flex-start;
	letter-spacing: 0.030833333em;
	line-height: 1;
	margin: 1.5rem 0 -1rem -1.5rem;
	text-transform: uppercase;
	>* {
		margin: 0 0 1rem 1.5rem;
	}
	a {
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.comment-reply-link {
	background-color: $naza-brown;
	color: #fff;
	display: block;
	padding: 0.7rem;
}
.bypostauthor {
	.comment-footer-meta {
		.by-post-author {
			display: block;
		}
	}
}
.pingback {
	.comment-meta {
		padding-left: 0;
	}
}
.trackback {
	.comment-meta {
		padding-left: 0;
	}
}
.comments-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 6rem;
	text-align: center;
	.page-numbers {
		display: none;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.prev {
		display: block;
		left: 0;
	}
	.next {
		display: block;
		right: 0;
		text-align: right;
	}
}
.comments-pagination.only-next {
	justify-content: flex-end;
}
.comment-respond {
	&::after {
		clear: both;
		content: "";
		display: block;
	}
	.comment-notes {
		color: #6d6d6d;
		font-size: 1rem;
		line-height: 1.4;
		margin: -3rem 0 4rem 0;
		text-align: center;
		a {
			color: inherit;
			text-decoration: none;
			&:focus {
				text-decoration: underline;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.logged-in-as {
		color: #6d6d6d;
		font-size: 1rem;
		line-height: 1.4;
		margin: -3rem 0 4rem 0;
		text-align: center;
		a {
			color: inherit;
			text-decoration: none;
			&:focus {
				text-decoration: underline;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	p {
		line-height: 1.1;
		margin-bottom: 2rem;
		margin-left: auto;
		margin-right: auto;
		&:not(.comment-notes) {
			max-width: 58rem;
		}
	}
	>p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	label {
		display: block;
	}
	input[type="checkbox"] {
		+ {
			label {
				font-size: 1rem;
				line-height: 1.25;
			}
		}
	}
	input[type="text"] {
        margin-bottom: 0;
        padding: 0.8rem;
	}
	input[type="email"] {
        margin-bottom: 0;
        padding: 0.8rem;
    }
    input[type="url"] {
        margin-bottom: 0;
        padding: 0.8rem;
	}
	textarea {
		margin-bottom: 0;
		height: 15rem;
	}
	#submit {
        display: block;
        color: $naza-brown;
		background: none;
		border-bottom: 5px solid $naza-brown;
        border-radius: 0;
        font-size: 1rem;
		padding: $spacing-sm 0 $spacing-xs;
		&:hover {
			border-bottom: 10px solid $naza-dark-brown;
		}
		@include media-breakpoint-down(xs) {
			font-size: 12px;
		}
	}
	.comments-closed {
		text-align: center;
	}
}
.comment-form-cookies-consent {
	align-items: baseline;
	display: flex;
}
.pagination {
	.nav-links {
		align-items: baseline;
		display: flex;
		flex-wrap: wrap;
		font-size: 1.8rem;
		font-weight: 600;
		margin: -1.5rem 0 0 -2.5rem;
		width: calc(100% + 2.5rem);
	}
	a {
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.dots {
		transform: translateY(-0.3em);
		color: #6d6d6d;
	}
}
.pagination-separator {
	margin: 5rem 0;
}
.nav-links {
	>* {
		margin: 1.5rem 0 0 2.5rem;
	}
	.placeholder {
		display: none;
		visibility: hidden;
	}
}
.nav-short {
	display: none;
}
.error404 {
	#site-content {
		padding-top: 4rem;
		.search-form {
			justify-content: center;
			margin-top: 3rem;
		}
	}
}
.error404-content {
	text-align: center;
}
.widget {
	margin-top: 3rem;
	&:first-child {
		margin-top: 0;
	}
	.widget-title {
		margin: 0 0 2rem;
	}
	li {
		margin: 2rem 0 0 0;
		&:first-child {
			margin-top: 0;
		}
		>ul {
			margin-top: 0;
		}
		>ol {
			margin-top: 0;
		}
	}
	table {
		border-color: #dedfdf;
		* {
			border-color: #dedfdf;
		}
		caption {
			background-color: #dedfdf;
		}
	}
	.post-date {
		color: #6d6d6d;
		display: block;
		font-size: 0.85em;
		font-weight: 500;
		margin-top: 0.2rem;
	}
	.rss-date {
		color: #6d6d6d;
		display: block;
		font-size: 0.85em;
		font-weight: 500;
		margin-top: 0.2rem;
	}
	select {
		max-width: 100%;
	}
}
.widget-content {
	>div {
		>* {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.rssSummary {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}
	cite {
		font-family: $body-font;
	}
	figcaption {
		font-family: $body-font;
	}
	.wp-caption-text {
		font-family: $body-font;
	}
}
.widget_text {
	p {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}
	ol {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}
	ul {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}
	dl {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}
	dt {
		font-family: NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
		letter-spacing: normal;
	}
}
.widget_categories {
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		color: #6d6d6d;
		margin: 0.3rem 0;
		li {
			margin-left: 2rem;
		}
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.widget_pages {
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		color: #6d6d6d;
		margin: 0.3rem 0;
		li {
			margin-left: 2rem;
		}
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.widget_meta {
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		color: #6d6d6d;
		margin: 0.3rem 0;
		li {
			margin-left: 2rem;
		}
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.widget_nav_menu {
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		color: #6d6d6d;
		margin: 0.3rem 0;
		li {
			margin-left: 2rem;
		}
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.widget-content {
		>div {
			>ul {
				margin-left: 0;
			}
		}
	}
}
.widget_recent_comments {
	ul {
		list-style: none;
		margin: 0;
	}
	li {
		font-weight: 700;
	}
	a {
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.widget_recent_entries {
	ul {
		list-style: none;
		margin: 0;
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.widget_rss {
	ul {
		list-style: none;
		margin: 0;
	}
	.widget-title {
		a.rsswidget {
			&:first-of-type {
				display: none;
			}
		}
	}
	.rsswidget {
		font-weight: 700;
	}
	a {
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	.rssSummary {
		margin-top: 0.5rem;
	}
	cite {
		&::before {
			content: "— ";
		}
	}
}
.widget_archive {
	li {
		color: #6d6d6d;
		margin: 0.3rem 0;
		li {
			margin-left: 2rem;
		}
	}
	a {
		font-weight: 700;
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.calendar_wrap {
	font-size: 2.4rem;
	th {
		display: table-cell;
		font-size: 1em;
		font-weight: 500;
		line-height: 1;
		padding: 2.5% 2.5% 1.75% 2.5%;
		text-align: center;
	}
	td {
		display: table-cell;
		font-size: 1em;
		font-weight: 500;
		line-height: 1;
		padding: 2.5% 2.5% 1.75% 2.5%;
		text-align: center;
	}
	tfoot {
		td {
			border-bottom: none;
		}
		a {
			text-decoration: none;
		}
		#prev {
			text-align: left;
		}
		#next {
			text-align: right;
		}
	}
	.wp-calendar-nav {
		a {
			text-decoration: none;
		}
	}
	.wp-calendar-nav-prev {
		text-align: left;
	}
	.wp-calendar-nav-next {
		text-align: right;
	}
}
.wp-calendar-nav {
	span {
		display: table-cell;
		font-size: 1em;
		font-weight: 500;
		line-height: 1;
		padding: 2.5% 2.5% 1.75% 2.5%;
		text-align: center;
	}
	display: table;
	width: 100%;
	font-size: 1.8rem;
}
.wp-calendar-table {
	margin-bottom: 0;
}
.widget_media_gallery {
	.gallery {
		margin: 0 -0.4em -0.8em -0.4em;
		width: calc(100% + 0.8em);
	}
	.gallery-item {
		margin: 0 0 0.8em 0;
		padding: 0 0.4em;
	}
}
.widget_search {
	.search-field {
		border-color: #dedfdf;
	}
}
.widget_tag_cloud {
	a {
		font-weight: 700;
		margin-right: 0.5rem;
		text-decoration: none;
		white-space: nowrap;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-nav-widgets-wrapper {
	background-color: #fff;
	border-color: #dedfdf;
	border-style: solid;
	border-width: 0;
}
#site-footer {
	background-color: #fff;
	border-color: #dedfdf;
	border-style: solid;
	border-width: 0;
	padding: 3rem 0;
	font-size: 1rem;
	.section-inner {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
	}
	a {
		text-decoration: none;
		&:focus {
			text-decoration: underline;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}
.footer-top-visible {
	.footer-nav-widgets-wrapper {
		margin-top: 5rem;
	}
}
.footer-top-hidden {
	#site-footer {
		margin-top: 5rem;
	}
}
.reduced-spacing.footer-top-visible {
	.footer-nav-widgets-wrapper {
		border-top-width: 0.1rem;
	}
}
.reduced-spacing.footer-top-hidden {
	#site-footer {
		border-top-width: 0.1rem;
	}
}
.footer-top {
	padding: 3rem 0;
	display: flex;
	border-bottom: 0.1rem solid #dedfdf;
	justify-content: space-between;
}
.footer-widgets-outer-wrapper {
	padding: 3rem 0;
	border-bottom: 0.1rem solid #dedfdf;
}
.footer-menu {
	font-size: 1.8rem;
	font-weight: 700;
	letter-spacing: -0.0277em;
	li {
		line-height: 1.25;
		margin: 0.25em 0 0 0;
	}
	a {
		text-decoration: none;
		word-break: normal;
		word-wrap: normal;
		&:hover {
			text-decoration: underline;
		}
		&:focus {
			text-decoration: underline;
		}
	}
}
.footer-social-wrapper {
	margin: 0;
	width: 100%;
}
.has-footer-menu {
	.footer-social-wrapper {
		flex-shrink: 0;
		margin-left: 1rem;
		width: 50%;
	}
	.footer-social {
		justify-content: flex-end;
	}
}
ul.footer-social {
	margin: -0.5rem 0 0 -0.5rem;
	li {
		margin: 0.5rem 0 0 0.5rem;
	}
}
.footer-social {
	a {
		background-color: $naza-brown;
		height: 3.6rem;
		width: 3.6rem;
		&::before {
			font-size: 1rem;
		}
	}
}
.footer-widgets {
	+ {
		.footer-widgets {
			margin-top: 3rem;
		}
	}
}
.footer-copyright {
	a {
		color: inherit;
	}
	font-weight: 600;
	margin: 0;
}
.powered-by-wordpress {
	a {
		color: inherit;
	}
	color: #6d6d6d;
	display: none;
	margin: 0 0 0 2.4rem;
}
.to-the-top {
	color: #6d6d6d;
}
a.to-the-top {
	>* {
		pointer-events: none;
	}
}
.to-the-top-long {
	display: none;
}
@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
	.menu-wrapper.is-animating {
		.menu-item {
			transition-duration: 1ms !important;
		}
		.toggling-target {
			transition-duration: 1ms !important;
		}
	}
}
@media ( prefers-reduced-motion: reduce ) {
	* {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
	.bg-attachment-fixed {
		background-attachment: scroll;
	}
}
@media (max-width: 782px) {
	.admin-bar {
		.screen-height {
			min-height: calc(100vh - 46px);
		}
		.menu-modal {
			top: 46px;
		}
		.search-modal.active {
			top: 46px;
		}
	}
	.admin-bar.overlay-header {
		#site-header {
			top: 46px;
		}
	}
}
@media (any-pointer: coarse) {
	.primary-menu {
		>li.menu-item-has-children {
			>a {
				padding-right: 0;
				margin-right: 2rem;
			}
		}
		ul {
			li.menu-item-has-children {
				>a {
					margin-right: 4.5rem;
					padding-right: 0;
					width: unset;
				}
			}
		}
	}
}

