@import "../vendor/bootstrap/scss/bootstrap";
@import "../sass/variables";

body {
	font-family: $body-font;
}

a {
	color: $black;
	&:hover {
		color: $naza-dark-brown;
	}
}

p {
	font-size: 18px;
	color: $naza-dark-brown;
	font-weight: 300;
}

li {
	font-size: 18px;
	color: $naza-dark-brown;
	font-weight: 300;
}

h1 {
	font-family: $heading-font;
	font-weight: 400;
	font-size: 2rem;
	@include media-breakpoint-down(xs) {
		font-size: 22px;
	}
}

h2 {
	font-family: $heading-font;
	font-weight: 400;
	@include media-breakpoint-down(xs) {
		font-size: 20px;
	}
}

h3 {
	font-family: $heading-font;
	font-weight: 400;
	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}
}


.pt-60 {
	@include media-breakpoint-down(xs) {
		padding-top: $spacing-max;
	}
}

/*PRELOADING------------ */
#overlayer {
	width:100%;
	height:100%;  
	position:absolute;
	z-index:2;
	background:$naza-salmon;
  }
.loader {
display: inline-block;
width: 30px;
height: 30px;
position: absolute;
z-index:3;
border: 4px solid #Fff;
top: 50%;
left: 50%;
animation: loader 2s infinite ease;
}
  
.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}
  
@keyframes loader {
0% {
	transform: rotate(0deg);
}

25% {
	transform: rotate(180deg);
}

50% {
	transform: rotate(180deg);
}

75% {
	transform: rotate(360deg);
}

100% {
	transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
	height: 0%;
}

25% {
	height: 0%;
}

50% {
	height: 100%;
}

75% {
	height: 100%;
}

100% {
	height: 0%;
}
}

#mainNav {
	min-height: 3.5rem;
	flex-flow: row nowrap;
	display: inline-flex;
	padding: 0;
	.navbar-toggler {
		font-size: 0.8rem;
		padding-left: 0px;
    	padding-right: 0px;
    	padding-top: 0px;
    	padding-bottom: 0px;
		color: $naza-dark-brown;
		border: none;
		&:focus {
			outline: none;
		}
		.nav-menu-icon {
			display: block;
			.line {
				width: 1.5rem;
				height: .15rem;
				background: $naza-dark-brown;
				transition: 0.5s;
				border-radius: 2.5rem;
				margin-bottom: .52em;
				opacity: 1;
				transition: all 0.3s ease;
				&:first-child {
					width: 1rem;
				}
				&:last-child {
					margin-bottom: 0;
					width: 1rem;
				}
			}
			&.active {
				.line {
					&:first-child {
						-webkit-transform: rotate(45deg);
						-webkit-transform-origin: 2px 7px;
						transform: rotate(45deg);
						transform-origin: 2px 7px;
						width: 1.5rem;
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						-webkit-transform: rotate(-45deg);
						-webkit-transform-origin: 2px -5px;
						transform: rotate(-45deg);
						transform-origin: 2px -5px;
						width: 1.5rem;
					}
				}
			}
		}
	}
	.navbar-collapse {
		&.show {
			display: inline-flex;
		}
		&.collapsing {
			display: inline-flex;
		}
	}
	.navbar-brand {
		color: $naza-dark-brown;
		font-weight: 100;
		padding: 0.9rem 0;
		text-transform: uppercase;
		transition: transform 1s linear;
		font-size: 24px;
		@include media-breakpoint-up(lg) {
			padding: 0.5rem 0;
			color: rgba(255, 255, 255, 0.5);
		}
		@include media-breakpoint-down(xs) {
			font-size: 20px;
		}
	}
	.navbar-nav {
		flex-flow: row nowrap;
		padding: 0;
		li {
			&:hover {
				color: fade(#fff, 80%);
				outline: none;
				background-color: transparent;
			}
			&:active {
				outline: none;
				background-color: transparent;
			}
			&:focus {
				outline: none;
				background-color: transparent;
			}
			a {
				padding: $spacing-xs $spacing-sm;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 13px;
			}
		}
	}
	.top-nav {
		list-style: none;
		text-transform: uppercase;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 22px;
		margin: $spacing-xs 0 !important;
		a {
			&:hover {
				color: $naza-brown;
			}
		}
	}
}
.btn {
	padding: 1.25rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	border: 0;
	&.btn-readmore {
		color: $white;
		background: none;
		border-bottom: 5px solid $white;
		border-radius: 0;
		padding: $spacing-sm 0 $spacing-xs;
		&:hover {
			border-bottom: 10px solid $white;
		}
		@include media-breakpoint-down(xs) {
			font-size: 12px;
		}
	}
}

.masthead {
	position: relative;
	width: 100%;
	background: $naza-salmon;
	h1 {
		font-family: $fancy-font;
		font-size: 2.5rem;
		line-height: 2.5rem;
		letter-spacing: 0.8rem;
		background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		@include media-breakpoint-up(lg) {
			font-size: 6.5rem;
			line-height: 6.5rem;
			letter-spacing: 0.8rem;
		}
		@include media-breakpoint-up(sm) {
			font-size: 4rem;
			line-height: 4rem;
		}
	}
	h2 {
		max-width: 20rem;
		font-size: 1rem;
	}
	.hero-bg-text {
		text-align: center;
		overflow: hidden;
		img {
			width: 130%;
			@include media-breakpoint-down(lg) {
				width: 200% !important;
				max-width: initial;
			}
			@include media-breakpoint-down(md) {
				width: 300% !important;
				max-width: initial;
			}
			@include media-breakpoint-down(xs) {
				width: 300% !important;
				max-width: initial;
			}
			@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
				width: 200% !important;
				max-width: initial;
			}
		}
	}
	.hero-image {
		.hero-naza {
			position: absolute;
			bottom: -150px;
			left: 30%;
			max-width: 40%;
			@include media-breakpoint-down(lg) {
				bottom: -50px;
				left: 20%;
				max-width: 50%;
			}
			@include media-breakpoint-down(md) {
				bottom: 0;
				left: -20%;
				max-width: 75%;
			}
			@include media-breakpoint-down(sm) {
				bottom: 0;
				left: 25%;
				max-width: 65%;
			}
			@include media-breakpoint-down(xs) {
				bottom: -50px;
				max-width: 120%;
				left: -30%;
			}
			
			@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
				bottom: -150px;
				max-width: 50%;
				left: 20%;
			}
		}
	}
}
.about-section {
	background: $white;
	@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
		padding: $spacing-max 0;
	}
	p {
		margin-bottom: 5rem;
	}
	.about-block {
		a {
			display: block;
		}
		.block-h1 {
			font-family: $fancy-font;
			font-size: 100px;
			color: rgba(224, 189, 177, 0.4);
			margin-bottom: 0;
			transition: all 0.5s linear;
			@include media-breakpoint-down(xs) {
				font-size: 50px;
			}
			@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
				font-size: 50px;
			}
		}
		.about-image {
			height: 300px;
			border-radius: $spacing-xs;
			background-color: $naza-salmon;
			@include media-breakpoint-down(md) {
				min-height: 200px;
				height: auto;
			}
			@include media-breakpoint-down(xs) {
				min-height: 120px;
				height: auto;
			}
			img {
				transform: scaleY(1);
				transition: all .7s ease-in-out;
			}
			.mask {
				transition: all 0.5s linear;
				opacity: 0;
				border-radius: $spacing-xs;
				height: 100%;
				padding: $spacing-lg;
				display: flex;
				align-items: center;
				h2 {
					background: transparent;
					transform: scale(0);
					color: $white;
					transition: all 0.5s linear;
					opacity: 0;
					display: block;
				}
				p {
					color: $white;
					opacity: 0;
					transform: scale(0);
					transition: all 0.5s linear;
				}
				.btn-readmore {
					opacity: 0;
					transform: scale(0);
					transition: all 0.5s linear;
				}
			}		
		}
		.about-title {
			font-weight: 300;
			text-transform: uppercase;
			font-size: 20px;
			padding: $spacing-lg 0;
			display: flex;
			align-items: center;
			transition: all 0.5s linear;
			font-family: $body-font;
			.about-dot {
				height: $spacing-md;
				width: $spacing-md;
				background-color: #D74567;
				border-radius: 50%;
				display: inline-block;
				margin-right: $spacing-md;
				transition: all 0.5s linear;
				@include media-breakpoint-down(xs) {
					margin-right: $spacing;
				}
			}
			@include media-breakpoint-down(xs) {
				font-size: 12px;
				font-weight: 600;
			}
			@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
				font-size: 16px;
			}
		}
		&:hover { 
			img {
				-webkit-transform: scale(10);
				transform: scale(10);
				opacity: 0;
			}
			.mask {
				opacity: 1;
				h2 {
					transform: scale(1);
					opacity: 1;
				}
				p {
					transform: scale(1);
					opacity: 1;
				}
				.btn-readmore {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
		&.humanitarian {
			.about-image {
				background-image: url("assets/img/naza-afghan-children.jpg");
				background-size: cover;		
			}
			.about-title {
				.about-dot {
					background-color: $naza-rose-gold;
				}
			}
			&:hover {
				.block-h1 {
					color: $naza-rose-gold-alpha;
					transition: all 0.5s linear;
				}
				.about-image {
					.mask {
						background-color: $naza-rose-gold-alpha;
					}		
				}
				.about-title {
					color: $naza-rose-gold;
					.about-dot {
						background: none;
						border: 2px solid $naza-rose-gold;
						transition: all 0.5s linear;
					}
				}
			}
		}
		&.environmentalist {
			.about-image {
				background-image: url("assets/img/naza-planting-tree.jpg");
				background-size: cover;
				.mask {
					background-color: $naza-green-alpha;
				}		
			}
			.about-title {
				.about-dot {
					background-color: $naza-green;
				}
			}
			&:hover {
				.block-h1 {
					color: $naza-green-alpha;
					transition: all 0.5s linear;
				}
				.about-image {
					.mask {
						background-color: $naza-green-alpha;
					}		
				}
				.about-title {
					color: $naza-green;
					.about-dot {
						background: none;
						border: 2px solid $naza-green;
						transition: all 0.5s linear;
					}
				}
			}
		}
		&.philanthropist {
			.about-image {
				background-image: url("assets/img/naza-unicef-launch-social.jpg");
				background-size: cover;	
			}
			.about-title {
				.about-dot {
					background-color: $naza-gold;
				}
			}
			&:hover {
				.block-h1 {
					color: $naza-gold-alpha;
					transition: all 0.5s linear;
				}
				.about-image {
					.mask {
						background-color: $naza-gold-alpha;
					}		
				}
				.about-title {
					color: $naza-gold;
					.about-dot {
						background: none;
						border: 2px solid $naza-gold;
						transition: all 0.5s linear;
					}
				}
			}
		}
	}
	.about-heading-text {
		text-align: center;
		color: $naza-dark-brown;
		padding-top: $spacing-lg;
		@include media-breakpoint-down(md) {
			text-align: left;
		}
		@include media-breakpoint-down(xs) {
			text-align: left;
			font-size: 22px;
		}
		@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
			font-size: 32px;
		}
	}
}
.humanitarian-section {
	background-color: $naza-rose-gold;
	background-image: url("assets/img/quarter-circle.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: left bottom;
	@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
		padding: $spacing-max 0;
	}
	.side-page-title {
		position: absolute;
		bottom: 25%;
		left: -8%;
		color: $naza-rose-gold;
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: 100;
		font-size: 42px;
		transform: rotate(-90deg);
		@include media-breakpoint-down(xs) {
			left: -90%;
		}
		@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
			left: -35%;
			bottom: 30%;
			font-size: 32px;
		}
	}
	.h-image {
		.h-naza {
			position: absolute;
			bottom: -100px;
			left: 5%;
			max-width: 40%;
			@include media-breakpoint-down(lg) {
				bottom: 0;
				max-width: 40%;
			}
			@include media-breakpoint-down(md) {
				bottom: 0;
				left: -20%;
				max-width: 75%;
			}
			@include media-breakpoint-down(sm) {
				bottom: 0;
				left: 25%;
				max-width: 45%;
			}
			@include media-breakpoint-down(xs) {
				display: none;
			}
			@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
				bottom: -30px;
				left: -10%;
				max-width: 55%;
			}
		}
	}
	@include media-breakpoint-down(xs) {
		background-image: none;
	}
	.humanitarian-block {
		height: 150px;
		width: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		@include media-breakpoint-down(xs) {
			margin-bottom: $spacing;
		}
		@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
			height: 120px;
		}
		.hblock-text {
			background: $white-alpha;
			padding: $spacing-sm $spacing-xl;
			color: $white;
			display: flex;
			align-items: center;
			justify-content: left;
			@include media-breakpoint-down(xs) {
				padding: $spacing-xs $spacing;
			}
			@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
				padding: $spacing-xs;
			}
			h5 {
				font-size: 22px;
				span {
					font-weight: 800;
					display: block;
				}
				@include media-breakpoint-down(xs) {
					font-size: 18px;
				}
			}
		}
		@include media-breakpoint-down(xs) {
			height: 120px;
		}
	}
}
.environment-section {
	background: $naza-green;
	.side-page-title {
		position: absolute;
		bottom: 25%;
		left: -5%;
		color: $white;
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: 100;
		transform: rotate(-90deg);
		@include media-breakpoint-down(xs) {
			left: -20%;
		}
		@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
			left: -15%;
			bottom: 30%;
			font-size: 32px;
		}
	}
	.env-bg {
		min-height: 100vh;
		background-image: url("assets/img/naza-env-bg.jpg");
		background-size: cover;
		.env-heading-text {
			font-family: $heading-font;
			color: $white;
			opacity: .8;
			margin-left: 200px;
			position: absolute;
			right: -10%;
			top: 10%;
			z-index: 2;
			@include media-breakpoint-down(md) {
				position: relative;
				margin-left: 20px;
			}
			@include media-breakpoint-down(xs) {
				position: absolute;
				right: -200%;
				top: 15%;
			}
			@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
				position: absolute;
				top: 15%;
				font-size: 30px;
				right: -10%;
				margin-left: 100px;
			}
		}
	}
}
.philanthropy-section {
	background: $naza-beige;
	@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
		padding: $spacing-max 0;
	}
	.side-page-title {
		position: absolute;
		bottom: -10px;
		left: 0;
		color: $naza-brown;
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: 100;
	}
	.phil-heading-text {
		font-family: $heading-font;
		color: $naza-brown;
		margin-left: 200px;
		margin-bottom: -20px;
		position: relative;
		z-index: 3;
		@include media-breakpoint-down(xs) {
			margin-left: 0;
		}
		@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
			margin-left: 30px;
			font-size: 30px;
		}
	}
	.sage-logo {
		padding-top: $spacing-max;
		text-align: center;
		svg {
			opacity: .5;
			fill: $sage-green;
			transition: all 0.5s linear;
			&:hover {
				transition: all 0.5s linear;
				opacity: 1;
				fill: $sage-light-green;
			}
			@include media-breakpoint-down(xs) {
				margin-left: 0;
				max-height: 200px;
			}
			@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
				max-height: 200px;
			}
			@media (max-width: 320px) {
				max-height: 150px;
			}
		}
		@include media-breakpoint-down(xs) {
			padding-top: $spacing-md;
		}
		@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
			padding: $spacing-sm;
		}
	}
	.btn-readmore {
		color: $naza-green;
		border-color: $naza-green;
		&:hover {
			border-color: $naza-green;
		}
	}
}
.contact-section {
	padding-top: $spacing-max;
	background: $naza-dark-brown;
	color: $white;
	@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
		padding: $spacing-max 0;
	}
	.contact-heading-text {
		color: $naza-beige;
		position: relative;
		z-index: 3;
		@include media-breakpoint-up(lg) {
			margin-left: 100px;
		}
		@include media-breakpoint-down(xs) {
			position: relative;
			font-size: 18px;
			margin-left: 20px;
		}
		@media (min-width: 481px) and (max-width: 870px) and (orientation: landscape) {
			font-size: 24px;
		}
	}
	.social {
		margin-top: 3.5rem;
		position: absolute;
		bottom: 15%;
		right: -25px;
		.social-icons {
			background: $white;
			padding: $spacing-sm;
			a {
				text-align: center;
				display: inline-block;
				height: 3rem;
				width: 3rem;
				background: rgba(255, 255, 255, 0.1);
				border-radius: 100%;
				line-height: 3rem;
				color: $naza-dark-brown;
				font-size: 22px;
				&:hover {
					color: rgba(255, 255, 255, 0.5);
				}
				&:active {
					color: #fff;
				}
				.fa-twitter {
					&:hover {
						color: $naza-brown;
					}
				}
				.fa-instagram {
					&:hover {
						color: $naza-brown;
					}
				}
				@include media-breakpoint-down(xs) {
					display: block;
					height: auto;
					width: auto;
				}
			}
		}
		@include media-breakpoint-down(xs) {
			bottom: -15%;
			right: 0;
		}
	}
	.contact-form {
		.form-control {
			color: $naza-beige;
			border: 1px solid $white;
			border-radius: 3px;
			background: transparent;
			height: 50px;
		}
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $naza-brown;
			font-size: 16px;
			opacity: 1; /* Firefox */
		}
		.nf-before-form-content {
			display: none;
		}
		.nf-form-content {
			input[type=button] {
				background: none;
				border-bottom: 5px solid #fff;
				color: inherit;
				transition: all .5s;
			}
			input[type=submit] {
				background: none;
				border-bottom: 5px solid #fff;
				color: inherit;
				transition: all .5s;
			}
			
		}
		.nf-error-msg {
			display: none !important;
		}
		.nf-error {
			.ninja-forms-field {
				border-color: $naza-salmon !important;
				transition: all .5s;
			}
			&.field-wrap {
				.nf-field-element {
					&:after {
						background: $naza-salmon;
					}
				}
			}
		}
	}
}
.footer {
	padding: 5rem 0;
}

body {
	&:not(.singular) {
		main {
			>article {
				&:first-of-type {
					padding: 4rem 0 0;
					@include media-breakpoint-down(sm) {
						padding: 8rem 0 0;
					}
				}
			}
		}
	}
}

.blog {
	#mainNav {
		background: $naza-salmon;
		a {
			color: $black;
		}
		padding: 0;
		.navbar-toggler {
			color: black;
			.nav-menu-icon {
				.line {
					background: $black;
				}
			}
		}
	}
	main {
		margin-top: 60px;
	}
}

.single {
	#mainNav {
		background: $naza-salmon;
		a {
			color: $black;
		}
		padding: 0;
		.navbar-toggler {
			color: black;
			.nav-menu-icon {
				.line {
					background: $black;
				}
			}
		}
	}
	main {
		margin-top: 60px;
	}
}


@keyframes scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}
.icon-scroll {
	position: absolute;
	right: 5%;
	width: 30px;
	height: 50px;
	margin-left: -16px;
	bottom: 5%;
	margin-top: -35px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
	&:before {
		position: absolute;
		left: 50%;
		content: '';
		width: 8px;
		height: 8px;
		background: #fff;
		margin-left: -4px;
		top: 8px;
		border-radius: 4px;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-name: scroll;
	}
}

#fp-nav {
	ul {
		li {
			a {
				span {
					background: #333;
				}
			}
		}
	}
}
.fp-slidesNav {
	ul {
		li {
			a {
				span {
					background: #333;
					left: 50%;
					top: 50%;
					margin: -2px 0 0 -2px;
					-webkit-transition: all .1s ease-in-out;
					-moz-transition: all .1s ease-in-out;
					-o-transition: all .1s ease-in-out;
					transition: all .1s ease-in-out;
				}
			}
		}
	}
}


.noisy {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iI0UwQkRCMSI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjIiPjwvcmVjdD4KPC9zdmc+");
	background-size: 30%;
	background-repeat: repeat;
} 

.no-gutter {
	margin-right: 0 !important;
	margin-left: 0 !important;
	> [class*="col-"] {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}


.small-gutters {
	> [class*="col-"] {
		padding-right: $spacing-xs;
		padding-left: $spacing-xs;
	}
}

.form-control {
	padding: .5rem 1rem;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
	height: 60px;
	color: #201f23;
	border: 3px solid rgba(32, 31, 35, 0.1);
	border-radius: $spacing-xs;
}
.close {
	font-size: 42px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 100ms ease-out;
	color: $black;
	opacity: 1;
	text-shadow: none;
}
.modal-dialog {
	max-width: initial;
	margin: 1.75rem auto;
}


.contentmodal {
	background-color: $white;
	background-attachment: fixed;
	background-size: cover;
	h3 {
		font-size: 1em;
		color: $naza-rose-gold;
		@include media-breakpoint-down(xs) {
			font-size: 1em;
		}
	}
	h4 {
		font-size: 1.2em;
	}
	label {
		font-size: 1em;
		@include media-breakpoint-up(xs) {
			font-size: 1.3em;
		}
	}
	.modal-dialog {
		width: 100% !important;
		height: 100% !important;
		margin: 0;
		padding: 0;
		&.modal-full {
			min-width: 100%;
			margin: 0;
			.modal-content {
				min-height: 100vh;
			}
		}
		.modal-content {
			background: transparent;
			border: 0;
			padding: 0;
			border-radius: 0;
			height: auto;
    		min-height: 100%;
			.modal-header {
				background: $naza-salmon;
				color: $black;
				padding: 0 1rem;
				min-height: 56px;
				border-radius: 0;
				border-bottom: 0;
				.modal-page-title {
					padding: 5px 0;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 13px;
					margin: 0;
				}
				.naza-brand {
					font-size: 24px;
					line-height: 1.2em;
					white-space: nowrap;
					transition: all 100ms ease-out;
					font-weight: 100;
					padding: 0;
					text-transform: uppercase;
					@include media-breakpoint-up(lg) {
						padding: 0.5rem 0;
					}
					span {
						display: block;
						font-size: 16px;
						font-weight: 500;
					}
				}
				.close {
					margin: 0;
					padding: 0;
				}
			}
			.modal-body {
				padding-top: 100px;
			}
		}
	}
	&.humanitarian {
		.modal-dialog {
			.modal-content {
				.modal-header {
					background: $naza-rose-gold;
					color: $black;
					.close {
						color: $black;
					}
					.naza-brand {
						color: $black;
					}
				}
				h3 {
					color: $naza-rose-gold;
				}
				.modal-body {
					img {
						object-fit: cover;
						min-height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
	&.environmentalist {
		.modal-dialog {
			.modal-content {
				.modal-header {
					background: $naza-green;
					color: $naza-beige;
					.close {
						color: $naza-beige;
					}
					.naza-brand {
						color: $naza-beige;
					}
				}
				h3 {
					color: $naza-green;
				}
				.modal-body {
					img {
						object-fit: cover;
						min-height: 100%;
						width: 100%;
					}
					.row-600 {
						@include media-breakpoint-up(lg) {
							max-height: 600px;
						}
					}
				}
			}
		}
	}
	&.philanthropist {
		.modal-dialog {
			.modal-content {
				.modal-header {
					background: $naza-beige;
					color: $naza-brown;
					.close {
						color: $naza-brown;
					}
					.naza-brand {
						color: $naza-brown;
					}
				}
				h3 {
					color: $naza-brown;
				}
			}
		}
	}
	&.reads {
		.modal-header-image {
			margin-top: 56px;
			background-image: url("assets/img/naza-books-header.jpg");
			background-size: cover;
			padding: $spacing-max 0;
			min-height: 300px;
			h3 {
				color: $white;
			}
			@include media-breakpoint-up(sm) {
				min-height: 600px;
			}
			@include media-breakpoint-down(xs) {
				padding: $spacing-md;
			}
		}
	}
	&.contactnaza {
		color: $white;
		background: $naza-dark-brown;
		.modal-dialog {
			.modal-content {
				.modal-header {
					background: $naza-beige;
					color: $naza-brown;
					.close {
						color: $naza-brown;
					}
					.naza-brand {
						color: $naza-brown;
					}
				}
				h3 {
					color: $naza-brown;
				}
				.modal-body {
					background: $naza-dark-brown;
					.contact-form {
						.form-control {
							color: $naza-beige;
							border: 1px solid $white;
							border-radius: 3px;
							background: transparent;
							height: 50px;
						}
						::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
							color: $naza-brown;
							font-size: 16px;
							opacity: 1; /* Firefox */
						}
						.nf-before-form-content {
							display: none;
						}
						.nf-form-content {
							input[type=button] {
								background: none;
								border-bottom: 5px solid #fff;
								color: inherit;
								transition: all .5s;
							}
							input[type=submit] {
								background: none;
								border-bottom: 5px solid #fff;
								color: inherit;
								transition: all .5s;
							}
							
						}
						.nf-error-msg {
							display: none !important;
						}
						.nf-error {
							.ninja-forms-field {
								border-color: $naza-salmon !important;
								transition: all .5s;
							}
							&.field-wrap {
								.nf-field-element {
									&:after {
										background: $naza-salmon;
									}
								}
							}
						}
					}
				}
			}
		}	
	}
}

.reads-accordion {
	max-width: 500px;
	box-shadow: 0 0 1px rgba(0,0,0,0.1);
	.card {
		border: none;
		&:last-child {
			.card-header {
				border: none;
			}
		}
	}
	.card-header {
		border-bottom: 3px solid $naza-beige;
		background: transparent;
	}
	.fa-stack {
		font-size: 16px;
	}
	.btn {
		width: 100%;
		font-weight: bold;
		color: $naza-brown;
		padding: 0;
		font-size: 24px;
	}
	.btn-link {
		&:hover {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	li {
		+ {
			li {
				margin-top: 10px;
			}
		}
	}
}
