
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@font-face {
    font-family: 'Glamor Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Glamor Regular'), url('assets/fonts/glamor-webfont/Glamor-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Glamor Light';
    font-style: normal;
    font-weight: normal;
    src: local('Glamor Light'), url('assets/fonts/glamor-webfont/Glamor-Light.woff') format('woff');
}

$fancy-font: 'Glamor Regular', sans-serif;
$heading-font: 'Prata', sans-serif;
$body-font: 'Lato', sans-serif;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$naza-salmon: #d6b7ab;
$naza-rose-gold: #e0a885;
$naza-rose-gold-alpha: rgba(224, 144, 133, 0.8);
$naza-green: #5E848B;
$naza-green-alpha: rgba(94, 132, 139, 0.8);
$naza-beige: #FEF8F3;
$naza-brown: #885F4F;
$naza-gold: #CFA960;
$naza-gold-alpha: rgba(207, 168, 96, 0.8);
$naza-dark-brown: #342323;

$sage-green: #1c4744;
$sage-light-green: #46826b;

$white-alpha: rgba(255, 255, 255, 0.2);
$black-alpha: rgba(0, 0, 0, 0.1);

.bg-gold {
    background: $naza-rose-gold-alpha !important;
}

.bg-brown {
  background: $naza-brown !important;
}

// Spacing

$spacing-xs: 5px;
$spacing: 10px;
$spacing-sm: 15px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 50px;
$spacing-max: 60px;



$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 980px,
  xl: 1200px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");